
<!DOCTYPE html>

<html>
 <head>
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" >
 </head>

 <body>
    <form action="{% url "start" %}">
    <ul class="inputlist">
        <li>
            <div class="inputdiv"> 
            <input type="text" class="inputbox" id="name" placeholder="Full name" required="" />
            <label for="name" class="form__label">Full Name</label>
          </div>
        </li>
        <li>
            <div class="inputdiv"> 
            <input type="text" class="inputbox" id="name" placeholder="Age" required="" />
            <label for="age" class="form__label">Age</label>
          </div>
        </li>
        <li>
            <div class="inputdiv"> 
            <input type="text" class="inputbox" id="name" placeholder="Gender" required="" />
            <label for="sex" class="form__label">Sex</label>
          </div>
        </li>
        <li>
            <div>
                <button class='glowing-btn'><span class='glowing-txt'>S<span class='faulty-letter'>T</span>ART</span></button>
            </div>
        </li>
    </ul>
  </form>
 </body>
</html>