<html>

 <head>
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" >
 </head>

 <body>
    <img id ='slideImage' src="{% static 'images/ALKHATIB-OMAR---02109422.jpg' %}">
 <button onclick="incrementImage()">NEXT</button>
 </body>

 <script>
    var ImageSources=[
      "{% static 'images/ALKHATIB-OMAR---02109422.jpg'%}",
      "{% static 'images/ARIF-JUNAID---02097215.jpg'%}",
      "{% static 'images/AYYOUB-YAZAN---02120810.jpg'%}",
      "{% static 'images/Chris-Hemsworth.jgp'%}",
      "{% static 'images/KHALIL-HANA---02094641.jpg'%}",
      "{% static 'images/MOHAMUD-HUSSEIN---02054042.jpg'%}",
      "{% static 'images/MORRISON-TAHNI---02093429.jpg'%}",
      "{% static 'images/TAY-TRACEY---02034209.jpg'%}",
      "{% static 'images/DIONYSIOU-TINA---02094746.jpg'%}",
      "{% static 'images/DIMOSKA-ANA---02061746.jpg'%}"
      ];

    let i = 0;

    const timeInBetweenFrames = 1000;
    const image = document.getElementById('slideImage'); //[0]

    function incrementImage(){
        image.src = ImageSources[i];
        console.log(image.src);


        if(++i < 9){
            window.setTimeout(incrementImage, timeInBetweenFrames);
        }
    }

    console.log('Starting');
    window.onload = "incrementImage()";

    </script>



</html>
